name: Backend-Deployment

on:
  workflow_dispatch: 
  push: 
    branches: 
      - main
    paths: 
      - 'apps/backend/**'
      - 'packages/common/**'
      - 'packages/db/**'
      - 'packages/services/**'
      - '.github/workflows/deploy-backend.yml'
      - 'docker/Dockerfile.backend'

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: |
            ikrambagban/exness-backend:${{ github.sha }}
            ikrambagban/exness-backend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker pull ikrambagban/exness-backend:${{ github.sha }}
            docker network inspect exness-network || docker network create exness-network
            docker stop exness-backend || true
            docker rm exness-backend || true
            docker run -d \
              --name exness-backend \
              --restart always \
              --network exness-network \
              -p 3000:3000 \
              -e DATABASE_URL="${{ secrets.DATABASE_URL }}" \
              -e REDIS_URL="${{ secrets.REDIS_URL }}" \
              -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
              -e RESEND_API_KEY="${{ secrets.RESEND_API_KEY }}" \
              -e RESEND_FROM_EMAIL="${{ secrets.RESEND_FROM_EMAIL }}" \
              -e FRONTEND_URL="${{ secrets.FRONTEND_URL }}" \
              -e NODE_ENV="production" \
              -e PORT="3000" \
              ikrambagban/exness-backend:${{ github.sha }}